openapi: 3.0.3
info:
  title: LingoStan API
  description: API для работы с модулями, уроками и упражнениями
  version: 1.0.0
  contact:
    name: API Support
    email: support@lingostan.com

servers:
  - url: https://api.lingostan.com/v1
    description: Production server
  - url: https://staging-api.lingostan.com/v1
    description: Staging server

paths:
  /modules:
    get:
      operationId: listModules
      summary: Получить список всех модулей
      description: Возвращает список всех доступных модулей с их базовой информацией
      tags:
        - Modules
      responses:
        '200':
          description: Успешный ответ со списком модулей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModulesListResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /modules/{moduleId}:
    get:
      operationId: getModuleById
      summary: Получить конкретный модуль
      description: Возвращает детальную информацию о модуле по его идентификатору
      tags:
        - Modules
      parameters:
        - name: moduleId
          in: path
          required: true
          description: Идентификатор модуля
          schema:
            type: string
            example: "module-1"
      responses:
        '200':
          description: Успешный ответ с информацией о модуле
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /modules/{moduleId}/lessons:
    get:
      operationId: getModuleLessons
      summary: Получить список уроков в модуле
      description: Возвращает список всех уроков, принадлежащих указанному модулю
      tags:
        - Lessons
      parameters:
        - name: moduleId
          in: path
          required: true
          description: Идентификатор модуля
          schema:
            type: string
            example: "module-1"
      responses:
        '200':
          description: Успешный ответ со списком уроков
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LessonsListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /modules/{moduleId}/lessons/{lessonId}/exercises:
    get:
      operationId: getLessonExercises
      summary: Получить список упражнений в уроке
      description: Возвращает список всех упражнений (вопросов) для указанного урока в модуле
      tags:
        - Exercises
      parameters:
        - name: moduleId
          in: path
          required: true
          description: Идентификатор модуля
          schema:
            type: string
            example: "module-1"
        - name: lessonId
          in: path
          required: true
          description: Идентификатор урока
          schema:
            type: string
            example: "lesson-1"
      responses:
        '200':
          description: Успешный ответ со списком упражнений
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExercisesListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /alphabet:
    get:
      operationId: getAlphabet
      summary: Получить список букв алфавита
      description: Возвращает список всех букв лакского алфавита с их транскрипцией и аудио
      tags:
        - Alphabet
      responses:
        '200':
          description: Успешный ответ со списком букв алфавита
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlphabetListResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /user/me:
    get:
      operationId: getUserProfile
      summary: Получить профиль текущего пользователя
      description: Возвращает персональную информацию пользователя, языки обучения и прогресс по каждому языку
      tags:
        - User
      responses:
        '200':
          description: Успешный ответ с информацией о пользователе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    Module:
      type: object
      required:
        - id
        - title
        - description
        - lessons
        - totalLessons
        - completedLessons
        - progressPercentage
      properties:
        id:
          type: string
          description: Уникальный идентификатор модуля
          example: "module-1"
        title:
          type: string
          description: Название модуля
          example: "Модуль 1. Базовые слова"
        description:
          type: string
          description: Описание модуля
          example: "Изучаем основы лакского алфавита"
        lessons:
          type: array
          description: Список уроков в модуле
          items:
            $ref: '#/components/schemas/LessonSummary'
        totalLessons:
          type: integer
          minimum: 0
          description: Общее количество уроков в модуле
          example: 10
        completedLessons:
          type: integer
          minimum: 0
          description: Количество завершенных уроков в модуле
          example: 3
        progressPercentage:
          type: number
          minimum: 0
          maximum: 100
          description: Процент выполнения модуля (0-100)
          example: 30.0

    LessonSummary:
      type: object
      required:
        - id
        - title
        - summary
        - completed
      properties:
        id:
          type: string
          description: Уникальный идентификатор урока
          example: "lesson-1"
        title:
          type: string
          description: Название урока
          example: "1 урок (а,аь,и,е,й)"
        summary:
          type: string
          description: Краткое описание урока
          example: "Познакомься с первыми буквами алфавита"
        completed:
          type: boolean
          description: Статус завершения урока
          example: false

    Lesson:
      type: object
      required:
        - id
        - title
        - questions
      properties:
        id:
          type: string
          description: Уникальный идентификатор урока
          example: "lesson-1"
        title:
          type: string
          description: Название урока
          example: "1 урок (а,аь,и,е,й)"
        questions:
          type: array
          description: Список вопросов (упражнений) в уроке
          items:
            $ref: '#/components/schemas/Exercise'

    Exercise:
      oneOf:
        - $ref: '#/components/schemas/LetterIntroExercise'
        - $ref: '#/components/schemas/SelectWordExercise'
        - $ref: '#/components/schemas/SelectImageExercise'
        - $ref: '#/components/schemas/MatchPairsExercise'
        - $ref: '#/components/schemas/MatchAudioExercise'
      discriminator:
        propertyName: type
        mapping:
          letterIntro: '#/components/schemas/LetterIntroExercise'
          selectWord: '#/components/schemas/SelectWordExercise'
          selectImage: '#/components/schemas/SelectImageExercise'
          matchPairs: '#/components/schemas/MatchPairsExercise'
          matchAudio: '#/components/schemas/MatchAudioExercise'

    LetterIntroExercise:
      type: object
      required:
        - id
        - type
        - letter
        - letterAudio
        - image
        - options
      properties:
        id:
          type: string
          description: Уникальный идентификатор упражнения
          example: "q1"
        type:
          type: string
          enum: [letterIntro]
          example: "letterIntro"
        letter:
          type: string
          description: Буква для изучения
          example: "Аь"
        letterAudio:
          type: string
          description: Идентификатор аудио файла буквы
          example: "audio-letter-a"
        image:
          type: string
          description: Идентификатор изображения
          example: "image-letter-a"
        options:
          type: array
          description: Варианты ответов
          items:
            $ref: '#/components/schemas/LetterIntroOption'

    LetterIntroOption:
      type: object
      required:
        - id
        - label
        - isCorrect
      properties:
        id:
          type: string
          example: "q1o1"
        label:
          type: string
          example: "Аь"
        isCorrect:
          type: boolean
          example: true

    SelectWordExercise:
      type: object
      required:
        - id
        - type
        - letter
        - letterAudio
        - options
      properties:
        id:
          type: string
          example: "q4"
        type:
          type: string
          enum: [selectWord]
          example: "selectWord"
        letter:
          type: string
          example: "Аь"
        letterAudio:
          type: string
          example: "audio-letter-a"
        options:
          type: array
          items:
            $ref: '#/components/schemas/SelectWordOption'

    SelectWordOption:
      type: object
      required:
        - id
        - label
        - audio
        - isCorrect
      properties:
        id:
          type: string
          example: "q4o1"
        label:
          type: string
          example: "Аьрхъ"
        audio:
          type: string
          example: "audio-word-arh"
        isCorrect:
          type: boolean
          example: true

    SelectImageExercise:
      type: object
      required:
        - id
        - type
        - letter
        - letterAudio
        - options
      properties:
        id:
          type: string
          example: "q7"
        type:
          type: string
          enum: [selectImage]
          example: "selectImage"
        letter:
          type: string
          example: "Аь"
        letterAudio:
          type: string
          example: "audio-letter-a"
        options:
          type: array
          items:
            $ref: '#/components/schemas/SelectImageOption'

    SelectImageOption:
      type: object
      required:
        - id
        - image
        - audio
        - isCorrect
      properties:
        id:
          type: string
          example: "q7o1"
        image:
          type: string
          example: "image-apple"
        audio:
          type: string
          example: "audio-word-arh"
        isCorrect:
          type: boolean
          example: true

    MatchPairsExercise:
      type: object
      required:
        - id
        - type
        - title
        - pairs
      properties:
        id:
          type: string
          example: "q9"
        type:
          type: string
          enum: [matchPairs]
          example: "matchPairs"
        title:
          type: string
          example: "Найди пары: буква и слово"
        pairs:
          type: array
          items:
            $ref: '#/components/schemas/Pair'

    Pair:
      type: object
      required:
        - left
        - right
      properties:
        left:
          type: string
          example: "Аь"
        right:
          type: string
          example: "Аьрхъ"

    MatchAudioExercise:
      type: object
      required:
        - id
        - type
        - title
        - audioOptions
        - letterOptions
        - matches
      properties:
        id:
          type: string
          example: "q11"
        type:
          type: string
          enum: [matchAudio]
          example: "matchAudio"
        title:
          type: string
          example: "Сопоставь звук и букву"
        audioOptions:
          type: array
          items:
            $ref: '#/components/schemas/AudioOption'
        letterOptions:
          type: array
          items:
            $ref: '#/components/schemas/LetterOption'
        matches:
          type: object
          description: Маппинг правильных соответствий (audioOptionId -> letterOptionId)
          additionalProperties:
            type: string
          example:
            q11a1: "q11l1"
            q11a2: "q11l2"

    AudioOption:
      type: object
      required:
        - id
        - audio
      properties:
        id:
          type: string
          example: "q11a1"
        audio:
          type: string
          example: "audio-letter-a"

    LetterOption:
      type: object
      required:
        - id
        - letter
      properties:
        id:
          type: string
          example: "q11l1"
        letter:
          type: string
          example: "Аь"

    ModulesListResponse:
      type: object
      required:
        - modules
      properties:
        modules:
          type: array
          items:
            $ref: '#/components/schemas/Module'

    LessonsListResponse:
      type: object
      required:
        - lessons
      properties:
        lessons:
          type: array
          items:
            $ref: '#/components/schemas/LessonSummary'

    ExercisesListResponse:
      type: object
      required:
        - exercises
      properties:
        exercises:
          type: array
          items:
            $ref: '#/components/schemas/Exercise'

    AlphabetLetter:
      type: object
      required:
        - id
        - letter
        - transcription
        - audioUrl
      properties:
        id:
          type: integer
          description: Уникальный идентификатор буквы
          example: 1
        letter:
          type: string
          description: Буква алфавита
          example: "А"
        transcription:
          type: string
          description: Транскрипция буквы
          example: "ажари"
        audioUrl:
          type: string
          description: URL аудио файла с произношением буквы
          example: "https://api.lingostan.com/v1/assets/audio/alphabet/lakku/1.mp3"

    AlphabetListResponse:
      type: object
      required:
        - letters
      properties:
        letters:
          type: array
          description: Список букв алфавита
          items:
            $ref: '#/components/schemas/AlphabetLetter'

    User:
      type: object
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
          description: Уникальный идентификатор пользователя
          example: "user-123"
        name:
          type: string
          description: ФИО пользователя
          example: "Иван Иванов"
        email:
          type: string
          format: email
          description: Email пользователя
          example: "ivan@example.com"
        gender:
          type: string
          enum: [Мужской, Женский, Другое]
          description: Пол пользователя
          example: "Мужской"
        age:
          type: integer
          minimum: 0
          maximum: 150
          description: Возраст пользователя
          example: 25
        avatarUrl:
          type: string
          format: uri
          description: URL аватара пользователя
          example: "https://api.lingostan.com/v1/assets/images/avatar.png"
        registrationDate:
          type: string
          format: date-time
          description: Дата регистрации
          example: "2025-04-01T00:00:00Z"

    LanguageProgress:
      type: object
      required:
        - languageCode
        - languageName
        - totalLessons
        - completedLessons
        - progressPercentage
      properties:
        languageCode:
          type: string
          description: Код языка (ISO 639-1)
          example: "lak"
        languageName:
          type: string
          description: Название языка
          example: "Лакский"
        totalLessons:
          type: integer
          minimum: 0
          description: Общее количество уроков
          example: 50
        completedLessons:
          type: integer
          minimum: 0
          description: Количество завершенных уроков
          example: 15
        progressPercentage:
          type: number
          minimum: 0
          maximum: 100
          description: Процент выполнения в виде числа от 0 до 100
          example: 30.0
        currentStreak:
          type: integer
          minimum: 0
          description: Текущая серия дней подряд
          example: 5
        totalXP:
          type: integer
          minimum: 0
          description: Общее количество опыта
          example: 1500

    UserProfile:
      type: object
      required:
        - user
        - learningLanguages
      properties:
        user:
          $ref: '#/components/schemas/User'
        learningLanguages:
          type: array
          description: Список языков, которые изучает пользователь
          items:
            $ref: '#/components/schemas/LanguageProgress'

    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Сообщение об ошибке
          example: "Модуль не найден"
        code:
          type: string
          description: Код ошибки
          example: "MODULE_NOT_FOUND"

  responses:
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: "Ресурс не найден"
            code: "NOT_FOUND"

    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: "Внутренняя ошибка сервера"
            code: "INTERNAL_SERVER_ERROR"

    Unauthorized:
      description: Пользователь не авторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: "Требуется авторизация"
            code: "UNAUTHORIZED"

tags:
  - name: Modules
    description: Операции с модулями
  - name: Lessons
    description: Операции с уроками
  - name: Exercises
    description: Операции с упражнениями
  - name: Alphabet
    description: Операции с алфавитом
  - name: User
    description: Операции с пользователем

